@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

/* 
Color Palette:
#1 #C36A2D
#2 #E2C275
#3 #EADCA6
#4 #FBFBFB
*/

/* css reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #C36A2D;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #E2C275;
}

a:hover,
a:active {
    color: #C36A2D;
}

body {
    width: 100%;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.skip-link {
    position: absolute;
    text-decoration: none;
    top: -40px;
    left: 0;
    background-color: #C36A2D;
    color: #FBFBFB;
    padding: 8px;
    z-index: 101;
}

.skip-link:hover {
    color: #EADCA6;
}


.skip-link:focus {
    top: 0;
}

header {
    display: inline;
}

nav {
    position: fixed;
    display: flex;
    padding: 0 64px;
    height: auto;
    width: 100%;
    justify-content: space-between;
    z-index: 100;
    transition: all 0.25s ease-in-out;
}

nav h1 {
    margin: 16px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav h1 a {
    text-decoration: none;
    font-size: 2rem;
}

nav a:hover{
    background-color: #FBFBFB !important;
}

.shadow-bottom {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 7px 0px;
}

.menu-list {
    font-size: 18px;
    margin: 24px 0;
    display: flex;
}

.menu-list li {
    padding: 0 0 0 10px;
    margin-left: 10px;
    list-style-type: none;
    display: inline-block;
}

.menu-list a {
    color: #E2C275;
    text-decoration: none;
}

.menu-list a:hover,
.menu-list a:active {
    font-weight: 800;
    transition: ease-out;
    transition-duration: 0.2s;
    border-bottom: 2px solid #E2C275;
    color: #C36A2D;
}

.menu-button {
    display: none;
}

.hero {
    display: flex;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-color: #000;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    opacity: .5;
}

.hero .inner {
    text-align: center;
    margin: 0 auto;
    padding: 0 32px;
    z-index: 2;
}

.hero .title {
    color: #FBFBFB;
    font-weight: 600;
    font-size: 3rem;
}

.hero .subtitle {
    color: #FBFBFB;
    margin-top: 10px;
    font-size: 1.8rem;
}

main {
    margin: 32px 32px 0;
}

#content {
    width: 100%;
    margin-top: 1em;
}

#content h2 {
    text-align: center;
    margin-bottom: 1em;
}

.title-content {
    border-bottom: 3px solid #E2C275;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 16px 0;
}

.col {
    width: calc(100% / 3 - 16px);
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.detail {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 32px auto ;
}

.detail h2 {
    margin-bottom: 0 !important;
}

.detail .title {
    font-size: 2.25rem;
    font-weight: 800;
}

.detail img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.detail .info,
.detail .overview
{
    margin-top: 16px;
}

.detail .info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.detail .info ul li {
    margin-bottom: 8px;
}

.card {
    background-color: #FBFBFB;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 7px 0px;
    flex: 1;
}

.card .city-label {
    background-color: #C36A2D;
    margin: 1em;
    padding: .5em 1em;
    position: absolute;
    color: #FBFBFB;
    font-weight: 600;
    text-align: left;
}

.card img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.card-body {
    padding: 16px;
}

.card-title a {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}

.card-text {
    color: #C36A2D;
}

.card .rating {
    color: #C36A2D;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .5em;
}

.favorite {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    color: #FBFBFB;
    background-color: #C36A2D;
    font-weight: 800;
    padding: 7vh 0;
}

footer a {
    text-decoration: none;
    color: #FBFBFB;
}

footer a:hover,
footer a:active {
    text-decoration: none;
    color: #EADCA6;
}