@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

/* 

#1 #C36A2D
#2 #E2C275
#3 #EADCA6
#4 #FBFBFB

*/

/* css reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* border: 1px solid; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #C36A2D;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #E2C275;
}

a:hover,
a:active {
    color: #C36A2D;
}

body {
    width: 100%;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: inline;
}

nav {
    position: fixed;
    background-color: #FBFBFB;
    display: flex;
    padding: 0 64px;
    height: auto;
    width: 100%;
    justify-content: space-between;
    z-index: 999;
}

nav h1 {
    margin: 16px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav h1 a {
    text-decoration: none;
}

.shadow-bottom {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 7px 0px;
}

.mobile {
    display: none !important;
}

.menu-list {
    font-size: 18px;
    margin: 24px 0;
    display: flex;
}

.menu-list li {
    padding: 0 0 0 10px;
    margin-left: 10px;
    list-style-type: none;
    display: inline-block;
}

.menu-list a {
    color: #E2C275;
    text-decoration: none;
}

.menu-list a:hover,
.menu-list a:active {
    font-weight: bold;
    transition: ease-out;
    transition-duration: 0.2s;
    border-bottom: 2px solid #E2C275;
    color: #C36A2D;
}

.menu-button {
    display: none;
}

.hero {
    display: flex;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-color: #000;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    opacity: .5;
}

.hero .inner {
    text-align: center;
    margin: 0 auto;
    padding: 0 32px;
    z-index: 2;
}

.hero .title {
    color: #FBFBFB;
    font-weight: 600;
    font-size: 48px;
}

.hero .subtitle {
    color: #FBFBFB;
    margin-top: 10px;
    font-size: 28px;
}

main {
    margin: 32px 32px 0;
}

#content {
    width: 100%;
}

img {
    display: block;
}


@media (max-width: 800px) {
    .menu-list {
        margin: 20px 0;
        font-size: medium;
    }

    .menu-list li {
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    body {
        background-color: #000;
    }

    nav {
        padding: 0 46px;
    }

    .hero .title {
        font-size: 36px;
    }

    .hero .subtitle {
        font-size: 24px;
    }

    .menu-list {
        background-color: #E2C275;
        fill-opacity: 0.5;
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        margin-top: 0;
        padding: 64px 46px;
        flex-direction: column;
        align-items: flex-end;
        transform: translateX(100%);
        transition: transform 0.5s;
    }

    .menu-list li {
        font-size: x-large;
        padding: 10px 0;
    }

    .menu-list a {
        color: #FBFBFB;
    }

    .open .menu-list {
        transform: translateX(0);
    }

    .menu-button {
        margin: auto 0;
        padding: -32px;
        width: 40px;
        height: 40px;
        border: 0;
        border-radius: 3px;
        background-color: #FBFBFB;
        color: #C36A2D;
        outline: none;
        font-size: larger;
        display: block;
        z-index: 2;
        cursor: pointer;
    }

    .menu i.fa-times,
    .menu.open i.fa-bars {
        display: none;
        animation: enter 0.8s;
    }

    .menu.open i.fa-times,
    .menu i.fa-bars {
        display: block;
        animation: enter 0.8s;
    }

    .menu-list a:hover,
    .menu-list a:active {
        font-weight: bold;
        transition: ease-out;
        transition-duration: 0.2s;
        border-bottom: 2px solid #C36A2D;
        color: #C36A2D;
    }
}